<!-- create all directs reserve with bootstrap -->
<p class="text-center">
    <a href="https://www.facebook.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="facebook" width="30" height="30">
    </a>
    <a href="https://twitter.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Twitter_bird_logo_2012.svg/2000px-Twitter_bird_logo_2012.svg.png" alt="twitter" width="30" height="30">
    </a>
    <a href="https://www.instagram.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_icon.png/2000px-Instagram_icon.png" alt="instagram" width="30" height="30">
    </a>
    <a href="https://www.youtube.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/YouTube_full-color_icon_%282017%29.svg/2000px-YouTube_full-color_icon_%282017%29.svg.png" alt="youtube" width="30" height="30">
    </a>
</p>
