<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>
<body>
  <div style="text-align: center;">
    <h1>
      <%= message ? message : 'Não autorizado' %>
    </h1>
    <p>
      <a href="/admin">Login</a>
    </p>
  </div>
  <img src="/images/design/lock.svg" alt="404 Page not found" width="50%" style="display: block; margin: 0 auto;">
</body>
</html>
