<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head') %>
  <title>SliderX - Admin Login</title>
</head>
<body class="h-screen">
<!-- Login Form -->
<div class="container ">
  <div class="row align-items-center h-screen">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" action="/api/login" method="post">
            <div class="form-label-group mb-5">
              <label for="inputEmail">Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                name="username"
                required
                autofocus
              />
            </div>
            <div class="form-label-group mb-5">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of login form -->
</body>
</html>
