<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head') %>
  <%- title %>
</head>
<body>
  <div class="container">
    <div class="row h-screen justify-content-center align-items-center">
      <div class="col-sm-12 col-md-8 col-lg-6 rounded border p-5">
        <h1 class="mb-4 text-muted text-center">Nova Imagem</h1>
        <p class="mb-5"><span class="text-danger">*</span> Campos obrigatórios</p>
        <form action="/api/upload" method="post" enctype="multipart/form-data" id="uploadForm">
          <div class="form-group mb-5">
            <label for="title">Titulo</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Digite o titulo da imagem" />
          </div>
          <div class="form-group mb-5">
            <label for="tag">Tag</label>
            <input type="text" name="tag" id="tag" class="form-control" placeholder="Digite a tag da imagem"/>
          </div>
          <div class="form-group mb-5">
            <label for="description">Descrição</label>
            <textarea name="description" id="description" style="resize: none;" class="form-control" rows="5" placeholder="Descrição da imagem"></textarea>
          </div>
          <div class="form-group mb-5">
            <label for="priority">Prioridade<span class="text-danger">*</span></label>
            <input type="number" title="Quanto maior o número, maior a prioridade" name="priority" id="priority" class="form-control" placeholder="1" value="1" required />
          </div>
          <div class="form-group mb-5">
            <label for="transitionTime">Tempo de transição<span class="text-danger">*</span></label>
            <small class="text-muted">Em segundos!</small>
            <input type="number" title="O valor deve ser em segundos" name="transitionTime" id="transitionTime"
              class="form-control" placeholder="8" value="8" required />
          </div>
          <div class="form-group mb-5">
            <label for="file">Selecionar arquivo<span class="text-danger">*</span></label>
            <small class="text-muted">jpg / jpeg / png / gif</small>
            <input type="file" name="file" class="form-control" id="file" required/>
          </div>
          <hr class="bg-secondary border-2 border-top border-secondary">
          <div class="form-group mb-5">
            <label for="active">Ativar Imagem<span class="text-danger">*</span></label>
            <input name="active" id="active" class="form-check-input" type="checkbox" value="1" checked />
          </div>
          <div class="form-group mb-5">
            <label for="showInfo">Mostrar informações da imagem no carousel?<span class="text-danger">*</span></label>
            <input name="showInfo" id="showInfo" class="form-check-input" type="checkbox" value="1" />
          </div>
          <button class="btn btn-primary mb-5 w-full">Enviar</button>
          <a role="button" href="/admin/dashboard" class="btn btn-primary mb-5 w-full">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
  <!-- <script type="module" src="/js/index.js"></script> -->
  <script>
    // submit form
    document
      .getElementById("uploadForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();
        var form = document.getElementById("uploadForm");
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/upload");
        xhr.send(formData);

        xhr.onload = function () {
          if (this.status == 200) {
            window.location.href = "/admin/dashboard";
          } else {
            alert("Error: " + this.status);
          }
        };
      });
        // clear all fields after submit
  </script>
</body>
</html>
