<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> <%- title %>
  </head>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <form
        class="needs-validation"
        novalidate
        action="/api/upload"
        method="post"
        enctype="multipart/form-data"
        id="myform"
      >
        <div class="form-group mb-4">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            placeholder="Enter title of the image"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label for="tag">Tag</label>
          <input
            type="text"
            name="tag"
            id="tag"
            class="form-control"
            placeholder="Enter tag of the image"
          />
        </div>
        <div class="form-group mb-4">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group mb-4">
          <label for="file">Image file</label>
          <input
            type="file"
            name="file"
            class="form-control-file"
            id="file"
            required
          />
        </div>
        <div class="form-check mb-4">
          <input
            name="active"
            id="active"
            class="form-check-input"
            type="checkbox"
            value="1"
          />
          <label class="form-check-label" for="active"> Active </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script>
      // submit form
      document
        .getElementById("myform")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          var form = document.getElementById("myform");
          var formData = new FormData(form);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/api/upload");
          xhr.send(formData);
          // clear all fields after submit
        });
    </script>
    <%- include('partials/bootstrapjs') %>
  </body>
</html>
