<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body style="
  height: 100vh;
  background-image: url('<%- results[0].image_location %>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;"
">

</body>
</html>
