<div class="responsive-table">
  <table class="c_table">
    <thead>
      <tr>
        <%- include('TableHead', {tableHead: [
          { text: '' },
          { text: 'Title'},
          {text: 'Tag'},
          { text: 'Status'},
          { text: 'Actions'}
        ]}) %>
      </tr>
    </thead>
    <tbody>
      <%- include('TableBody', {results}) %>
    </tbody>
  </table>
</div>
