<table class="c_table">
  <caption>
    Dinosaurs in the Jurassic period
  </caption>
  <thead>
    <tr>
      <%- include('TableHead', {tableHead: [
        { text: '' },
        { text: 'Title'},
        {text: 'Tag'},
        { text: 'Active'},
        { text: 'Actions'}
      ]}) %>
    </tr>
  </thead>
  <tbody>
    <%- include('TableBody', {results}) %>
  </tbody>
</table>
