<nav
  class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
  id="navbarVertical">
  <div class="container-fluid">
    <%# Toggle Button %>
    <button
      class="navbar-toggler ms-n2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarCollapse"
      aria-controls="sidebarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%# Brand %>
    <a class="navbar-brand mx-auto" href="/">
      <img
        src="/logo.svg"
        alt="Logo"
        class="img-fluid h-16"
      />
    </a>
    <%# Avatar Dropdown Menu ( Mobile ) %>
    <%- include ('mobileAvatar') %>
    <%# Collapse Navbar %>
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <%# Nav Links %>
      <%- include ('navLinks') %>
      <!-- Push content down -->
      <div class="mt-auto"></div>
      <%# Desktop Avatar %>

      <%# User Account Options %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/api/signout">
            <i class="bi bi-box-arrow-left"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
