<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="bi bi-activity"></i>
      <span>Painel</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/account">
      <i class="bi bi-people"></i>
      <span>Admin</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="bi bi-house-door"></i>
      <span>Carousel</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard/gallery">
      <i class="bi bi-images"></i>
      <span>Galeria</span>
    </a>
  </li>
</ul>
