<header class="bg-surface-primary border-bottom pt-6">
  <div class="container-fluid">
    <div class="mb-npx">
      <div class="row align-items-center">
        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <%# Title %> 
          <h1 class="h2 mb-0 ls-tight"><%= pageName %></h1>
        </div>
        <%# Action Buttons %> 
        <div class="col-sm-6 col-12 text-sm-end">
          <div class="mx-n1">
            <%- include ('../../components/buttons/createButton') %>
          </div>
        </div>
      </div>
      <!-- Nav -->
      <ul class="nav nav-tabs mt-4 overflow-x border-0">
        <li class="nav-item">
          <a href="/admin/dashboard" class="nav-link">Image List</a>
        </li>
        <li class="nav-item">
          <a href="/admin/dashboard/gallery" class="nav-link font-regular">Image Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</header>